.header {
    padding: 1rem;
}

.nav, .ul {
    display: flex;
    align-items: center;
}

.ul {
    list-style: none;
    gap: 15px;
}

.nav {
    justify-content: space-between;
}

.nav .span {
    color: brown;
    font-weight: bold;
    font-size: 1.3rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}